@charset "utf-8";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 4px;
  background: #aaa;
  opacity: .5;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  width: 4px;
  height: 4px;
  border-radius: 0;
  background: #f0f0f0;
}

body {
  color: #333;
  font-size: 14px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  ;
  background-color: #f5f5f5;
}

.main {
  width: 1080px;
  height: 1590px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-image: url(./images/medium-fill.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.component {
  width: 438px;
  height: 229px;
  background-color: #fff;
  position: absolute;
  left: 31px;
  bottom: 91px;
  z-index: 100;
  overflow: auto;
  padding: 20px 10px;
}

.component>div {
  font-size: 16px;
  margin: 0 0 10px 0;
  line-height: 1.4;
  text-indent: 2em;
  text-align: left;
  border: 1px dashed #d9d9d9;
}

.component>div:focus {
  outline: none;
  border: 1px dashed #409EFF;
}
